body{

background:#0f172a;
color:white;
font-family:Arial;
margin:0;
padding:15px;
text-align:center;

}

/* TITULO */

h1{

margin-bottom:20px;

}

/* BOTÕES MENU */

.menu{

display:flex;
flex-direction:column;
align-items:center;
gap:10px;

}

.btn-menu{

width:90%;
max-width:350px;
padding:15px;
font-size:16px;
border:none;
border-radius:12px;
background:#3b82f6;
color:white;

}

/* CARD */

.card{

background:#1e293b;
padding:20px;
border-radius:12px;
margin-top:25px;

}

/* TOPO CALENDARIO */

.cal-top{

display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:10px;

}

.mes-btn{

background:#3b82f6;
border:none;
width:40px;
height:40px;
border-radius:10px;
color:white;
font-size:18px;

}

/* DIAS DA SEMANA */

.dias-semana{

display:grid;
grid-template-columns:repeat(7,1fr);
font-size:12px;
opacity:0.7;
margin-bottom:5px;

}

/* CALENDARIO */

#calendario{

display:grid;
grid-template-columns:repeat(7,1fr);
gap:6px;

}

.dia{

background:#334155;
border:none;
padding:12px;
border-radius:8px;
color:white;
font-size:14px;

}

/* DIA TREINADO */

.treinado{

background:#22c55e;

}

/* OBSERVAÇÃO */

.obs{

margin-top:25px;
background:#1e293b;
padding:15px;
border-radius:12px;

}

/* MOBILE */

@media (max-width:600px){

.dia{

padding:14px;
font-size:15px;

}

}
